:root {
    --myscript-bg-col: #282c34;
    --myscript-fg-col: white;
}

#my-example-element {
    padding: 10px;
    background-color: var(--myscript-bg-col);
    color: var(--myscript-fg-col);
    font-family: "Segoe UI", "San Francisco", sans-serif;
}
